[user]
	email = sjdonado@uninorte.edu.co
	name = Juan Rodriguez

[pull]
	rebase = false

[core]
	editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX

[init]
	defaultBranch = master

[credential]
	helper = store

[push]
	autoSetupRemote = true

[interactive]
  diffFilter = diff-so-fancy --patch
